@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;500;0,700;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,wght@0,700;1,700&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fraunces', serif;
}

:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);
    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--Cream);
    display: flex;
    align-items: center;
    justify-content: center;
}

#card-container {
    width: 500px;
    height: 400px;
    display: flex;
    border-radius: 10px;
    background-color: var(--White);
}

#img-preview-desktop {
    width: 50%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#img-preview-mobile {
    height: 30%;
    display: none;
    width: 100%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

#product-info{
    padding: 25px;
}

.attribution {
    position: absolute;
    bottom: 2px;
}

#product-type {
    color: var(--Dark-grayish-blue);
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    letter-spacing: 3px;
    font-size: 10px;
    margin-bottom: 15px;
}

#product-name {
    color: var(--Very-dark-blue);
}

#product-desc {
    color: var(--Dark-grayish-blue);
    margin-top: 15px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 20px;
    font-size: 14px;
}

#prices {
    margin-top: 15px;
    display: flex;
    gap: 10px;
    align-items: center;

}

#promotion-price {
    font-size: 26px;
    color: var(--Dark-cyan);
}

#default-price {
    color: var(--Dark-grayish-blue);
    text-decoration: line-through;
    font-size: 12px;
}

#add-cart {
    margin-top: 20px;
    width: 100%;
    padding: 15px;
    border-radius: 10px;
    background-color: var(--Dark-cyan);
    border: none;
    color: var(--White);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: .2s ease-in-out;
}

#add-cart:hover {  
    background-color: hsl(158, 35%, 29%);
}

#add-cart svg {
    margin-right: 10px;
}

@media screen and (max-width: 520px) {
    #card-container {
        flex-direction: column;
        width: 250px;
        height: 550px;
    }

    #img-preview-desktop {
        display: none !important;
    }

    #img-preview-mobile {
        display: block !important;
    }
}